.login-form {
  height: 450px;
  padding: 10px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

form {
  height: 350px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

input {
  width: 280px;
}
