<p-menubar [model]="navBarItems()">
  <ng-template pTemplate="start">
    <a href="#">
      <span>Cyanist</span>
    </a>
  </ng-template>

  <ng-template pTemplate="item" let-item let-root="root">
    @if (appStore.user()) {
    <a pRipple class="flex align-items-center p-menuitem-link">
      <span class="ml-2">{{ item.label }}</span>
    </a>
    }
  </ng-template>
  <ng-template pTemplate="end">
    @if(!appStore.user()){
    <p-button routerLink="/sign-in" label="Sign In" [link]="true" />
    <p-button routerLink="/sign-up" label="Sign Up" [link]="true" />
    } @if(appStore.user()) {
      <app-user/>
    }
  </ng-template>
</p-menubar>
